---
 const personalImageAlt = "Miguel Espinoza"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Miguel Angel Espinoza, I go more with Miguel. I started programming 5 years ago after
      finishing my associate degree in Finance. I have been working as a developer with different
      companies and startups. I am currently working in finishing my <strong
        >Bachelor degree in Computer Science</strong
      >.
    </p>

    <p>
      Some of my highlights involves helping others to enter to the Computer Science and winning the <strong
    >Student Leadership Award at Ensign College </strong
    >with students from different parts of the world.
    </p>

    <p>
      As a Software Developer, I have eagerness to learn more about <strong
        ><em class="italic">Web Development and Machine Learning </em></strong
      >building solutions to solve customer problems.
    </p>
  </div>

  <img width="200" height="200" src="/portfolio/miguel.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>



-------------------------------------


---------------------------------------

<!--<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>-->

<!--<p>-->
<!--  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.-->
<!--</p>-->

<!--<p>-->
<!--  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!-->
<!--</p>-->

<!--&ndash;&gt;-->
